# Aprendizado de Máquina - 2023.02
Escolher um dataset do kaggle e avaliar os atributos usando medidas de posição e dispersão gerando histogramas e boxplot

Aluno: Diego Vasconcelos Schardosim de Matos

DRE: 120098723

## Dataset escolhido
Selecionei o dataset [Heart Disease Classification Dataset](https://www.kaggle.com/datasets/bharath011/heart-disease-classification-dataset) pois se encaixa bem aos requesitos do trabalho e também me chamou atenção pois um de seus usos seria aplicações voltadas a saúde pública

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Heart Attack.csv")

In [4]:
df.head()

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,class
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative

In [6]:
df.shape

(1319, 9)

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().any()

age              False
gender           False
impluse          False
pressurehight    False
pressurelow      False
glucose          False
kcm              False
troponin         False
class            False
dtype: bool

Este é um bom dataset pois além de possuir colunas bem explicativas categorizadas em 2 classes distintas, não possui instâncias duplicadas ou nulas.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            1319 non-null   int64
 1   gender         1319 non-null   int64
 2   impluse        1319 non-null   int64
 3   pressurehight  1319 non-null   int64
 4   pressurelow    1319 non-null   int64
 5   glucose        1319 non-null   float64
 6   kcm            1319 non-null   float64
 7   troponin       1319 non-null   float64
 8   class          1319 non-null   object
dtypes: float64(3), int64(5), object(1)
memory usage: 92.9+ KB